.profile__button-edit {
  background-image: url("../../../images/Edit_Button.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid #fff;
  min-width: 24px;
  height: 24px;
  transition: opacity .5s ease-in;
  padding: 0;
  align-self: center;
}

.profile__button-edit:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 760px) {
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
    background-size: 7px 7px;
  }
}
