@import url(./vender/normalize.css);
@import url(./vender/fonts/fonts.css);


.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #000;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.content__center {
  max-width: 880px;
  margin: 0 200px;
}

.header {
  display: flex;
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  align-self: flex-start;
  margin-bottom: 41px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__info {
  display: flex;
}
.profile__info-column {
  margin-left: 30px;
}
.profile__info-user {
  display: flex;
  align-items: baseline;
  margin-top: 22px;
}
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0 18px 0 0;
}
.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 16px 0 25px;
}
.profile__button-edit {
  background-image: url("./images/Edit_Button.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.profile__button-add {
  width: 150px;
  height: 50px;
  background-image: url("./images/Add_Button.svg");
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin-top: 50px;
  row-gap: 20px;
  column-gap: 17px;
}
.element {
  min-height: 361px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.element__photo {
  width: 100%;
  min-height: 282px;
  object-fit: cover;
}
.element__info {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
}
.element__title {
  color: #000;
  font-weight: 900;
  font-style: 24px;
  line-height: 1.2;
  margin: 0;
}
.element__button-like {
  width: 22px;
  height: 19px;
  background-image: url("./images/like.svg");
  background-size: cover;
  background-color: transparent;
  border: none;
  align-self: center;
}
.footer {
  display: flex;
  margin-top: 66px;
  margin-bottom: 60px;
}
.footer__copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}
