@import url(./vender/normalize.css);
@import url(./vender/fonts/fonts.css);


.page {
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #000;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.content__center {
  max-width: 880px;
  margin: 0 200px;
}
@media (max-width: 560px) {
  .content__center {
    margin-right: 19px;
    margin-left: 19px;
  }
}
.header {
  display: flex;
  margin: 45px 200px 40px;
  border-bottom: 1px solid #545454;
}
@media (max-width: 560px) {
  .header {
    width: 100%;
    margin: 28px 0 42px;
  }
}
.header__logo {
  align-self: flex-start;
  margin-bottom: 41px;
}
@media (max-width: 560px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 31.6px;
    width: 103.74px;
    height: 24.4px;
  }
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
@media (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 1023px) {
  .profile__avatar {
    margin: auto;
  }
}
.profile__info {
  display: flex;
}
@media (max-width: 1023px) {
  .profile__info {
    flex-direction: column;
  }
}
.profile__info-column {
  margin-left: 30px;
  max-width: 440px;
}
@media (max-width: 1023px) {
  .profile__info-column {
    margin: 0 auto;
    max-width: 280px;
  }
}
.profile__info-user {
  display: flex;
  align-items: baseline;
  margin-top: 22px;
}
.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.22;
    margin-right: 10px;
    text-align: center;
  }
}
.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 10px 0 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 30px;
  }
}
.profile__button-edit {
  background-image: url("./images/Edit_Button.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid #fff;
  min-width: 24px;
  height: 24px;
}
@media (max-width: 760px) {
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
  }
}
.profile__button-add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url("./images/Add_Button.svg");
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: auto 0;
}
@media (max-width: 1023px) {
  .profile__button-add {
    width: 100%;
  }
}
.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  margin-top: 40px;
  row-gap: 20px;
  column-gap: 17px;
}
@media (max-width: 1023px) {
  .elements {
    margin-top: 33px;
    row-gap: 10px;
  }
}
.element {
  min-height: 361px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.element__photo {
  width: 100%;
  min-height: 282px;
  object-fit: cover;
}
.element__info {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
}
.element__title {
  color: #000;
  font-weight: 900;
  font-style: 24px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.element__button-like {
  width: 22px;
  height: 19px;
  background-image: url("./images/like.svg");
  background-size: cover;
  background-color: transparent;
  border: none;
  align-self: center;
}
.footer {
  display: flex;
  margin-top: 55px;
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
.footer__copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}
@media (max-width: 760px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.21;
  }
}
.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup_opened {
  display: flex;
}
.popup__container {
  background-color: #fff;
  padding: 34px 36px 37px;
  border-radius: 10px;
  width: 430px;
  min-height: 330px;
  position: relative;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("./images/button_close.svg");
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: -9%;
  top: -12%;
}
@media (max-width: 1023px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: -1%;
    top: -10%;
  }
}
.popup__title {
  width: 100%;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin: 0 0 40px;
}
@media (max-width: 1023px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 75px;
  }
}
.popup__form {
  display: flex;
  flex-direction: column;
}
.popup__input {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  min-height: 27px;
}
.popup__input:last-of-type {
  margin-bottom: 50px;
}
@media (max-width: 1023px) {
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}
.popup__button-save {
  min-height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}
@media (max-width: 1023px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 1.21;
    min-height: 46px;
  }
}
