.popup__button-close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/button_close.svg");
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: -41px;
  top: -41px;
  transition: opacity .5s ease-in;
  padding: 0;
}

.popup__button-close:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 1px;
    top: -35px;
  }
}
