.element__button-like {
  min-width: 22px;
  min-height: 19px;
  margin: 0;
  padding: 0;
  background-image: url("../../../images/like.svg");
  background-size: contain;
  background-color: transparent;
  border: none;
  background-position: center;
  align-self: center;
  background-repeat: no-repeat;
  transition: opacity .5s ease-in;
}

.element__button-like:hover {
  opacity: .5;
  cursor: pointer;
}




